{% extends "base.html" %} 

{% block title %}Pagina Inicial{% endblock title %}

{% block content %}
    <h3> Pokemon </h3>
    <ul class="list-group">
        {% for pokemon in pokemons %}
        <li class="list-group-item">
            <a href="{{pokemon.pk}}">{{ pokemon | capfirst }}</a>
        </li>
        {% endfor %}
    </ul>
    <h3> Entrenador </h3>
    <ul class="list-group">
        {% for trainer in trainers %}
        <li class="list-group-item">
            <a href="trainer/{{trainer.id}}" >{{ trainer | capfirst }}</a>
            <p> Nivel: {{trainer.level}}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}


            
